@model progect_DEPI.Models.Course

<h2>Lessons for course: @Model.Title</h2>

@{
    int index = 0;
}

@foreach (var lesson in Model.Lessons.OrderBy(l => l.OrderNumber))
{
    <div class="lesson">
        <h4>@lesson.Title</h4>

        @if (index == 0)
        {
            <video width="400" controls>
                <source src="@lesson.VideoUrl" type="video/mp4" />
                Your browser does not support video.
            </video>
        }
        else
        {
            <div style="opacity: 0.5;">
                <p>You need to complete the previous lesson to unlock this video.</p>
            </div>
        }

        index++;
    </div>
}
